<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Книги: </h1>
<br>
<form th:action="@{/books/search}" method="get">
    <input type="text" name="query" placeholder="Поиск по названию" />
    <button type="submit">Найти</button>
</form>
<hr>
<a th:href="@{/books/new}">Добавить книгу</a>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Автор</th>
        <th>Год написания</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td> <a  th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}">> </a></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.year}"></td>
        <td>
            <a th:href="@{/books/edit/{id}(id=${book.id})}">Редактировать</a>
            <form th:action="@{/books/{id}(id=${book.id})}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <ul class="pagination">
        <!-- Первая страница -->
        <li th:if="${currentPage > 0}">
            <a th:href="@{/books(page=0, size=${pageSize != null} ? ${pageSize} : 3)}">Первая</a>
        </li>

        <li th:if="${currentPage > 0}">
            <a th:href="@{/books(page=${currentPage - 1}, size=${pageSize != null} ? ${pageSize} : 3)}">Предыдущая</a>
        </li>

        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/books(page=${currentPage + 1}, size=${pageSize != null} ? ${pageSize} : 3)}">Следующая</a>
        </li>

        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/books(page=${totalPages - 1}, size=${pageSize != null} ? ${pageSize} : 3)}">Последняя</a>
        </li>
    </ul>

    <p>Страница <span th:text="${currentPage + 1}">1</span> из <span th:text="${totalPages}">10</span></p>

    <p>Всего книг: <span th:text="${totalBooks}">100</span></p>
</div>









<a th:href="@{/}">Назад</a>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>