<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search book</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<h1>Поиск книги</h1>

<form th:action="@{/books/search}" method="get">
    <input type="text" name="query" placeholder="Введите название книги" required/>
    <button type="submit">Поиск</button>
</form>

<div th:if="${books != null and !books.isEmpty()}">
    <h2>Результаты поиска:</h2>
    <ul>
        <li th:each="book : ${books}">
            <p><strong>Название книги:</strong> <span th:text="${book.title}"></span></p>
            <p><strong>Хозяин книги:</strong> <span th:text="${book.user != null ? book.user.fio : 'Нет хозяина'}"></span></p>
        </li>
    </ul>
</div>

<div th:if="${books == null or books.isEmpty()}">
    <p th:text="${message != null ? message : 'Книг не найдено'}"></p>
</div>


<a th:href="@{/books}">Назад</a>


</body>
</html>